#intro {
    background-color:black!important;
    position:absolute;
    bottom:0px;
    text-align:center;
}

    @import url(http://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1, h2, h3, h4{
  font-family: 'Advent Pro', sans-serif;
  margin: .2em .5em;
  color: rgba(255,136,0,0.8);
}
h1 {
  font-size: 3em;
    }
body {
    height: 100%;
}
